/.idea
/vendor
/node_modules
package-lock.json
composer.phar
composer.lock
phpunit.xml
.phpunit.result.cache
.DS_Store
Thumbs.db
.php-cs-fixer.dist.php
.php-cs-fixer.cache
build
coverage
docs
psalm.xml
vendor
